<p-card>
    <form [formGroup]="filterForm" class="flex flex-row gap-4">
        <p-inputgroup>
            <p-button label="Search" severity="contrast" />
            <input pInputText type="search" formControlName="search" placeholder="Search by SKU or EAN code" />
        </p-inputgroup>

        <p-select [options]="sortByOptions" formControlName="sortBy" optionLabel="label" optionValue="value"
            placeholder="Rendezés" class="w-full md:w-56" />

        <p-select [options]="sortOrderOptions" formControlName="sortOrder" optionLabel="label" optionValue="value"
            placeholder="Sorrend" class="w-full md:w-56" />
    </form>
</p-card>

<p-card class="w-full mt-4">
    @if (isLoading()) {
    <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
    </div>
    }
    @else {

    <p-table [value]="products()" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold">Products</span>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>EAN</th>
                <th>Operations</th>
            </tr>
        </ng-template>

        <ng-template #body let-product>
            <tr>
                <td>{{ product.sku }}</td>

                <td>{{ product.name }}</td>

                <td>
                    <img [src]="product.images?.[0]?.url" [alt]="product.name" class="w-24 rounded" />
                </td>

                <td>{{ product.price }}</td>

                <td>{{ product.ean }}</td>

                <td>
                    @if (Role === 'SYSADMIN') {
                    <a [routerLink]="`/product/${product.id}/edit`">
                        edit
                    </a>
                    <p-button icon="pi pi-trash" rounded size="small" severity="danger" />
                    }
                </td>

            </tr>
        </ng-template>

        <ng-template #footer>
            <tr>
                <td colspan="6">
                    @if (isLoading()) {
                    <p>Betöltés...</p>
                    }
                    In total there are {{ products().length }} products.
                </td>
            </tr>
        </ng-template>
    </p-table>
    }

    <div #loadMoreTrigger class="h-4"></div>
</p-card>