<p-card class="login-card">

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">

        <h1 class="header">Webshop Central</h1>

        @if (errorMessage()) {
        <p class="form-error">{{ errorMessage() }}</p>
        }

        <div class="field">
            <div class="flex items-center justify-between">
                <label for="email">Email</label>
                <div>

                    @if (email.touched && email.hasError('required')) {
                    <small class="error">Email address is required</small>
                    }

                    @if (email.touched && email.hasError('email')) {
                    <small class="error">Email adddress is invalid</small>
                    }
                </div>
            </div>
            <input pInputText id="email" formControlName="email" type="email">
        </div>

        <div class="field">
            <div class="flex items-center justify-between">
                <label for="password">Password</label>

                <div>
                    @if (password.touched && password.hasError('required')) {
                    <small class="error">Password is required</small>
                    }
                </div>
            </div>
            <p-password inputId="password" formControlName="password" [feedback]="false" [toggleMask]="true"
                fluid></p-password>

        </div>


        <div class="flex items-center justify-between">
            <a routerLink="/register" class="link">Don't have an account?</a>

            <button pButton type="submit" [disabled]="isSubmitting()">
                <i class="pi pi-user"></i>
                <span pButtonLabel>Login</span>
            </button>
        </div>
    </form>
</p-card>