/* You can add global styles to this file, and also import other style files */
@import "tailwindcss"
@import "primeicons/primeicons.css"

body
  font-family: Inter, system-ui, sans-serif
  margin: 0

.field
  @apply flex flex-col gap-1

.login-card
  width: 40vw

.form
  @apply flex flex-col gap-4

.error
  @apply text-red-600

.header
  @apply text-4xl font-semibold tracking-tight text-balance text-center py-3

.link
  @apply text-sm text-blue-600
  &:hover
    @apply underline cursor-pointer

.form-error
  @apply text-red-600 font-bold

.ng-invalid.ng-touched
  border-color: #ef4444 !important

p-password.ng-invalid.ng-touched
  input
    border-color: #ef4444 !important

.nav-profile
  @apply bg-gray-200 p-2 rounded-full h-10 w-10 flex items-center justify-center

.nav-item
  @apply text-gray-800

  &:hover
    @apply text-black cursor-pointer

.nav-logo
  @apply font-bold text-lg

.main-layout
  @apply relative flex min-h-0 w-full flex-1 gap-3 p-6

.sidebar-item
  @apply flex items-center justify-between

  &>a
    @apply flex flex-1 items-center gap-2

    &:hover span
      @apply underline
